@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
:root {
	--wrapWidth: 1200px;
	--gray: #7f8c8d;
	--deepGray: #535c68;
	--red: #ff385c;
	--blue: lightseagreen;
	--green: #23c382;
	--containerHorizontalMargin: 50px;
	--containerVerticalPadding: 30px;
	--detailFontSize: smaller;
	--bottomBorder: 1px solid #ecf0f1;
	--borderRadius: 10px;
	--calendarDaySize: 40px;
	--boxShadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

// Breakpoints
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

.ACCEPTED {
	color: var(--green) !important;
}

.PENDING, .COMPLETED {
	color: var(--gray) !important;
}

.REFUSED, .CANCLED {
	color: var(--red) !important;
}
