@import "./_base";

@mixin tablet {
  @media (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin underline {
	border-bottom: 1px solid black;
	display: inline-block;
	line-height: 0.85;
	text-shadow: 1px 1px var(--backgroudColor), 1px -1px var(--backgroudColor),
		-1px 1px var(--backgroudColor), -1px -1px var(--backgroudColor);
	@content;
}

@mixin star($font-size) {
	color: var(--red);
	font-size: $font-size;
}

@mixin reservation_item {
	flex: 1 1 50%;
	padding: 5px 10px;
	font-size: 0.9rem;
	height: 50px;

	.reservation_display {
		color: var(--gray);
		font-weight: 300;
	}
}

@mixin facility_rule_item {
	margin: 15px 0;
}

@mixin facility_rule_icon {
	font-size: 20px;
	width: 40px;
	text-align: center;
}

@mixin facility_rule_description {
	margin-left: 15px;
	font-weight: 300;
}

@mixin changeHeaderColor {
	.body_header ul .airbnb_icon,
	.body_header ul .header_profile .profile_img {
		color: var(--blue);
	}
	
	.body_header ul .room_search i {
		background-color: var(--blue);
	}
}
