@import "./_base";
@import "./_mixins";

.wrap {
	max-width: var(--wrapWidth);
	margin: 0 auto;
	
	
	.header {
		margin: 0 var(--containerHorizontalMargin);
		padding: var(--containerVerticalPadding) 0;
		
		.header_title {
			font-weight: 700;
		}
	}
	
	.reserve {
		display: flex;
		justify-content: space-between;
		
		.main {
			padding: calc(var(--containerVerticalPadding)/ 2) 0;
			margin: 0 var(--containerHorizontalMargin);
			width: 65%;
			
			.room_name {
				font-weight: 700;
			}
			
			.room_address {
				margin: 10px 0;
			}
			
			.reserve_time_wrap {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: var(--containerVerticalPadding) 0;
				
				.reserve_time {
					
					.reserve_check {
						font-weight: 700;
						font-size: 1.25rem;
					}
					
					.room_check {
						color: var(--gray);
						font-size: 0.9rem;
					}
					
					i {
						color: var(--gray);
						font-size: 1.25rem;
					}
				}
				
				.reserve_detail {
					.reserve_night {
						font-weight: 700;
					}
					
					.reserve_guests {
						color: var(--gray);
						font-size: 0.8rem;
					}
				}
			}
			
			.icons {
				padding: var(--containerVerticalPadding) 0;
				border-top: var(--bottomBorder);
				
				i, span {
					padding-right: 15px;
					cursor: pointer;
					font-size: 1rem;
				}
				
				i:last-of-type {
					padding-left: 30px;
				}
			}
		}
		
		.aside {
			width: 30%;
			margin: 0 var(--containerHorizontalMargin);
			display: flex;
			align-items: center;
			
			.room_detail {
				display: block;
				margin-bottom: 20px;
			}
			
			.price, .service{
				display: flex;
				justify-content: space-between;
			}
			
			.total_price {
				font-size: 3rem;
    			font-weight: 700;
			}
			
			.status {
				margin: var(--containerVerticalPadding) 0;
			}
		}
	}
	
	.footer {
		display: flex;
		justify-content: space-evenly;
		margin-bottom: var(--containerVerticalPadding);
		
		.reserve_change, .reserve_cancel {
			border: 1px solid lighten(gray, 30%);
			border-radius: 5px;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			padding: 30px;
			width: 45%;
			
			i {
				color: var(--blue);
			    font-size: 2rem;
   				margin-bottom: .5em;
			}
			
			.footer_title {
				font-weight: 700;
			}
			
			.footer_body {
				color: var(--gray);
			}
			
			button {
				all: unset;
				margin-top: 60px;
				padding: .5em 1em;
				color: var(--blue);
				border: 2px solid var(--blue);
				border-radius: 5px;
				font-size: 1rem;
				cursor: pointer;
				font-weight: 700;
			}
		}
	}
}