.cont01 {
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/resources/images/main_3.jpg") 0 0 no-repeat;
  position: relatve;
  background-size: cover;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  color: white;
}

.cont01 .cont01_text {
   position: absolute;
   margin-left: 10vw;
   top: 35%;
   width: 300px;
}

.cont01_text h2 {
   font-size: 2rem;
}

.cont01_text p {
   margin: 10px 0;
}

.cont01_text a {
   display: inline-block;
   padding: 5px 10px;
   background-color: white;
   color: black;
    border-radius: var(--borderRadius);
}