:root {
  --red: #ff385c;
  --containerHorizontalMargin: 50px;
  --containerVerticalPadding: 30px;
  --bottomBorder: 1px solid var(--gray);
  --borderRadius: 10px;
  --boxShadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: keep-all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

small {
  font-size: 14px;
}

i {
  font-style: normal;
}

ul {
  list-style: none;
}

.body_header {
  width: 100%;
  height: 80px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03), 0 3px 3px rgba(0, 0, 0, 0.06);
}
.body_header ul {
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
}
.body_header ul .airbnb_icon {
  display: flex;
  color: var(--red);
  line-height: 80px;
  font-weight: 700;
  font-size: 1.4rem;
  align-items: center;
  cursor: pointer;
}
.body_header ul .airbnb_icon i {
  font-size: 2.7rem;
  margin-right: 5px;
}
.body_header ul .room_search {
  border: 1px solid #ecf0f1;
  border-radius: calc(var(--borderRadius) * 2);
  width: 330px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.body_header ul .room_search:hover {
  box-shadow: var(--boxShadow);
}
.body_header ul .room_search .search_input {
  all: unset;
  padding: 0 15px;
}
.body_header ul .room_search .search_input::placeholder {
  color: black;
  font-size: 0.9em;
}
.body_header ul .room_search i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  font-size: 0.7em;
  border-radius: 50%;
  background-color: var(--red);
  margin: 10px;
  cursor: pointer;
}
.body_header ul .header_profile {
  border: 1px solid #ecf0f1;
  border-radius: calc(var(--borderRadius) * 2);
  cursor: pointer;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.body_header ul .header_profile:hover {
  box-shadow: var(--boxShadow);
}
.body_header ul .header_profile i {
  margin: 0 5px;
}
.body_header ul .header_profile .profile_img {
  width: 30px;
  height: 30px;
  content: "";
  display: inline-block;
  margin-left: 10px;
  background-color: var(--red);
  border-radius: 50%;
}
.body_footer {
  background-color:black;
  border-top: 1px solid #ecf0f1;
  color: white;
}
.body_footer .footer_wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--containerVerticalPadding) 0;
  display: flex;
  justify-content: space-between;
}
.body_footer .company_info {
  margin: 0 var(--containerHorizontalMargin);
  font-weight: 300;
}
.body_footer .company_info span {
  display: block;
}
.body_footer .page_config i {
  margin-left: 15px;
  font-size: 1.2rem;
}
.body_footer .page_config span {
  border-bottom: 1px solid black;
  display: inline-block;
  line-height: 0.85;
  text-shadow: 1px 1px var(--backgroudColor), 1px -1px var(--backgroudColor),
    -1px 1px var(--backgroudColor), -1px -1px var(--backgroudColor);
  font-size: 0.9rem;
  margin: 0 10px;
}
