@import "./_reset";
@import "./_mixins";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
:root {
	--gray: #7f8c8d;
	--deepGray: #535c68;
	--red: #ff385c;
	--containerHorizontalMargin: 50px;
	--containerVerticalPadding: 30px;
	--detailFontSize: smaller;
	--bottomBorder: 1px solid var(--gray);
	--reservationBorder: 1px solid var(--gray);
	--borderRadius: 10px;
}

body {
	font-family: "Noto Sans KR", sans-serif;
}

.wrap {
	margin: 0 auto;
	max-width: 1200px;

	.nav_category {
		padding: var(--containerVerticalPadding) 0;
		margin: 0 var(--containerHorizontalMargin);
		font-weight: 300;

		a {
			@include underline;
		}
	}

	.room_image {
		margin: 0 var(--containerHorizontalMargin);

		.room_image_grid {
			display: grid;
			grid: repeat(2, minmax(150px, 1fr)) / repeat(4, minmax(150px, 1fr));
			gap: 10px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: var(--borderRadius);

				&:first-child {
					grid-area: span 2 / span 2;
				}
			}
		}
	}

	.main_wrap {
		display: flex;

		.main_left {
			width: 65%;
			padding: var(--containerVerticalPadding) 0;

			.room_header {
				padding-bottom: var(--containerVerticalPadding);
				margin: 0 var(--containerHorizontalMargin);
				border-bottom: var(--bottomBorder);

				.room_title {
					font-weight: 700;
				}
				.room_info {
					font-size: var(--detailFontSize);

					.star {
						@include star(20px);
					}

					.rating_count {
						color: var(--gray);

						&::after {
							content: " · ";
							color: black;
						}
					}

					.address {
						@include underline;
						line-height: 0.95;
						color: var(--deepGray);
					}
				}
			}

			.host_info {
				padding: var(--containerVerticalPadding) 0;
				margin: 0 var(--containerHorizontalMargin);
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: var(--bottomBorder);

				hgroup {
					.username {
						font-weight: 700;
					}

					.room_short_spec {
						font-size: var(--detailFontSize);
						font-weight: 300;
					}
				}

				.user_profile {
					background-image: url("../img/thumbnail1.jpg");
					background-position: center;
					min-width: 80px;
					height: 80px;
					border-radius: 50%;
					cursor: pointer;
				}
			}

			.room_detail_info {
				padding: var(--containerVerticalPadding) 0;
				margin: 0 var(--containerHorizontalMargin);
				border-bottom: var(--bottomBorder);

				a {
					display: block;
					margin: var(--containerHorizontalMargin) 0;
					@include underline;
					font-weight: 700;
				}
			}

			.room_facilities {
				padding: var(--containerVerticalPadding) 0;
				margin: 0 var(--containerHorizontalMargin);

				h3 {
					font-weight: 700;
					padding: 15px 0;
				}

				.facility_item {
					margin: 15px 0;

					.facility_icon {
						font-size: 20px;
						width: 40px;
						text-align: center;
					}

					.facility_description {
						margin-left: 15px;
						font-weight: 300;
					}
				}
			}
		}

		.main_right {
			width: 35%;
			position: relative;
			padding-top: var(--containerVerticalPadding);
			padding-bottom: calc(var(--containerVerticalPadding) * 2);
			margin-right: var(--containerHorizontalMargin);

			.reservation_wrap {
				position: sticky;
				top: 80px;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
					0 3px 6px rgba(0, 0, 0, 0.23);
				border-radius: var(--borderRadius);
				padding: 30px;

				.reservation_header {
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;

					.reservation_help_text {
						font-weight: 700;
						text-align: left;
						line-height: 1.1;
						max-width: 200px;
					}

					small {
						white-space: nowrap;
						font-size: 12px;

						.star {
							@include star(12px);
						}
						.rating_count {
							color: var(--gray);
						}
					}
				}

				.reservation_main {
					border: var(--reservationBorder);
					border-radius: var(--borderRadius);
					cursor: pointer;

					.reservation_item_box {
						display: flex;

						.reservation_item {
							@include reservation_item;

							& + .reservation_item {
								border-left: var(--reservationBorder);
							}
						}
					}
					.reservation_people {
						border-top: var(--reservationBorder);
						@include reservation_item;

						.reservation_display {
							position: relative;

							.display_btn_icon {
								position: absolute;
								right: 5px;
								font-size: 1.5rem;
								line-height: 0;
								color: black;
							}
						}
					}
				}

				.reservation_btn {
					border: 0;
					outline: none;
					width: 100%;
					padding: 10px 30px;
					background-color: var(--red);
					color: white;
					margin: 10px 0;
					border-radius: var(--borderRadius);
					text-align: center;
					font-weight: 700;
					cursor: pointer;
				}

				.reservation_form {
					position: absolute;
					background-color: white;
					top: 140px;
					right: -10px;
					width: 660px;
					box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
						0 3px 6px rgba(0, 0, 0, 0.23);
					border-radius: var(--borderRadius);
					padding: 20px 30px;

					.form_header {
						display: flex;

						.header_text {
							width: 55%;

							.header_title {
								font-weight: 700;
								font-size: 1.5rem;
							}
							.header_body {
								color: var(--gray);
								font-weight: 300;
							}
						}

						.header_inputs {
							width: 45%;
							display: flex;
							border: var(--reservationBorder);
							border-radius: var(--borderRadius);
							background-color: #f7f7f7;

							.input_item {
								font-size: 0.8rem;
								padding: 10px;
								border-radius: var(--borderRadius);
								width: 50%;

								.reservation_input {
									all: unset;
									font-weight: 300;
									cursor: text;
								}
							}
						}
					}

					.form_main {
						position: relative;
						margin-top: var(--containerHorizontalMargin);
						margin-bottom: calc(
							var(--containerHorizontalMargin) / 2
						);

						.pagination_btns {
							position: absolute;
							top: 0;
							width: 100%;
							display: flex;
							justify-content: space-between;

							.pagination_btn {
								all: unset;
								cursor: pointer;
								font-size: 1.5rem;
								line-height: 1.5rem;
							}
						}

						.calendar_wrap {
							width: 100%;
							display: flex;
							justify-content: space-between;

							.calendar_item {
								width: 48%;

								.calendar_month {
									width: 100%;
									text-align: center;
									margin-bottom: 15px;
									font-weight: 700;
								}

								.calendar_row {
									display: flex;

									.calendar_day {
										width: 40px;
										height: 40px;
										text-align: center;

										span {
											line-height: 50px;
										}
									}

									.dayname {
										font-size: 0.8rem;
										color: var(--gray);
									}
								}
							}
						}
					}

					.form_footer {
						text-align: end;

						.input_reset {
							all: unset;
							font-size: 0.9rem;
							@include underline;
							cursor: pointer;
						}

						.form_exit {
							padding: 10px 15px;
							margin: 0 15px;
							background-color: black;
							color: white;
							border: 0;
							border-radius: var(--borderRadius);
							font-weight: 700;
						}
					}
				}
			}
		}
	}
}
